// Default settings scss

// Fonts
$fonts-base:                  'ArialRegular';
$font-bold-base:              'ArialBold';
$fonts-color-base:            white;


// Background
$bg-app:                      #1b2838;